---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_SECRET_KEY>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 14 Jun 2021 04:18:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_SECRET_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=514817635"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_SECRET_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=11714179"}]}]}'
  recorded_at: Mon, 14 Jun 2021 04:18:33 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_SECRET_KEY>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623644313,"sunrise":1623583887,"sunset":1623637732,"temp":73.26,"feels_like":72.3,"pressure":1004,"humidity":43,"dew_point":49.44,"uvi":0,"clouds":70,"visibility":10000,"wind_speed":1.99,"wind_deg":186,"wind_gust":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1623643200,"temp":73.26,"feels_like":72.3,"pressure":1004,"humidity":43,"dew_point":49.44,"uvi":0,"clouds":70,"visibility":10000,"wind_speed":4,"wind_deg":56,"wind_gust":7.87,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.76,"rain":{"1h":0.16}},{"dt":1623646800,"temp":73.06,"feels_like":72.27,"pressure":1007,"humidity":47,"dew_point":51.66,"uvi":0,"clouds":71,"visibility":10000,"wind_speed":4.61,"wind_deg":260,"wind_gust":6.8,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.72},{"dt":1623650400,"temp":72.39,"feels_like":71.73,"pressure":1009,"humidity":51,"dew_point":53.26,"uvi":0,"clouds":74,"visibility":10000,"wind_speed":5.39,"wind_deg":248,"wind_gust":7.56,"weather":[{"i[...]
